# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Resources and testing file
testlib_sandbox/
run_sandbox/

# VSCode files
.vscode/

# Examples
example_data/
examplepro/
1.cpp
